.container-fluid {
    display: block;
    width: 100%;
    margin: auto;
}
.small{
    padding-top: 1rem;
}
.img {
    display: block;
    width: 100%;
    margin: auto;
    padding-top: 5rem;
}
.login {
    justify-content: center;
    width: 100%;
    margin: auto;
}