<!-- <p>login works!</p> -->
<div class="container-fluid">
    <img class="img imgSize" src="" alt="CodeStack Logo" style="width: 8em;">
    <div class="row px-0">
        <div class="col-4 col-8 mx-auto">
            <div class="login d-flex align-items-center py-5 pl-5 ">
                <div class="container">
                    <div class="row">
                        <div class="col-4 col-8 mx-auto">
                            <h3 class="login-heading mb-4">Code Stack CRM </h3>
                            <form>
                                <div class="form-label-group">
                                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address"
                                        required autofocus>
                                    <label for="inputEmail"></label>
                                </div>
                                <div class="form-label-group">
                                    <input type="password" id="inputPassword" class="form-control"
                                        placeholder="Password" required>
                                    <label for="inputPassword"></label>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <button
                                            class=" btn buttonBorder  btn-block btn-login  font-weight-bold mb-2"
                                            type="submit">forgot Password?</button>
                                    </div>
                                    <div class="col-6">
                                        <button
                                            class="btn buttonBorder1 btn-block btn-login  font-weight-bold mb-2"
                                            type="submit">Login</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>