.container-fluid {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
    background-color:  #1B74CC;
    width: 100%;
    height: 100%;
    
}
.small{
    padding-top: 1rem;
}
.img {
    display: block;
    width: 100%;
    margin: auto;
    padding-top: 5rem;
}
.login {
    justify-content: center;
    width: 100%;
    margin: auto;
}
.buttonBorder {
    border: 1px solid white;
    color: white;
}
.buttonBorder1{
    border: 1px solid  #1B74CC;
    color: white;

    
}
.login-heading{
    color: white;

}
