<mat-grid-list cols="1" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card class="tp-card">
            <mat-card-title>Login</mat-card-title>
            <mat-card-content>
                <form>
                    <table>
                        <tr>
                            <td>
                                <mat-form-field>
                                    <input matInput placeholder="Email" [(ngModel)]="loginEmail" name="loginEmail"
                                        required>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field>
                                    <input matInput placeholder="Password" [(ngModel)]="password" name="password"
                                        required>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>

                </form>
                <mat-card-actions layout="row" layout-align="end center">
                    <button mat-raised-button (click)="resetPassword()" color="primary">Reset</button>
                    <button mat-raised-button (click)="login()" color="primary">Login</button>
                </mat-card-actions>
            </mat-card-content>

        </mat-card>
    </mat-grid-tile>
</mat-grid-list>