.mat-dialog-title {
    text-align: center;
    
}
.my-reset{
    color:goldenrod;
}
.mat-dialog-content {
    width: 100%;
  }
  .mat-dialog-content {
    display: flex;
    flex-direction: column;
  }
  .mat-dialog-actions{
      justify-content: center;
  }