<!-- <img class="img-fluid imgSize" src="../../../assets/img/logo.png" alt="CodeStack Logo" style="width: 20%"> -->

<!-- <div *ngFor="let a of adminPages">
  <p class="pointer text-left pl-3" routerLink="{{a.routerLink}}" routerLinkActive="{{a.routerLinkActive}}">
    <fa-icon [icon]="a.linkIcon"></fa-icon> {{a.linkText}}
  </p>
</div> -->
<mat-sidenav-container>
  <mat-nav-list *ngFor="let a of adminPages">
      <a mat-list-item>
        <div class="pointer text-left pl-3" routerLink="{{a.routerLink}}" routerLinkActive="{{a.routerLinkActive}}">
          <fa-icon [icon]="a.linkIcon"></fa-icon> {{a.linkText}}
        </div>
      </a>
  </mat-nav-list>

  <mat-nav-list>
    <a mat-list-item>
      <p class="pointer text-left pl-3" (click)="logout()" routerLink="{{logOut.routerLink}}" routerLinkActive="{{logOut.routerLinkActive}}">
        <fa-icon [icon]="logOut.linkIcon"></fa-icon> Logout
      </p>
    </a>
</mat-nav-list>

</mat-sidenav-container>
