/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.flex {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

// Material Overrides
.mat-menu-panel {
    z-index: 999999 !important;
    margin-top: 14px !important;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}
