<!-- <div>
    <div class="card vSpace border-0 labelColor">
        <div class="card-body py-0">
            <dl class="row my-0">
                <dt class="col-3">
                    <select class="form-control selectWidth">
                        <option>All Students</option>
                        <option>Alumni</option>
                        <option>Current</option>
                        <option>Probation</option>
                        <option>Terminated</option>
                    </select>
                </dt>
                
                <dt class="col-4">
                    <div class="input-group">
                        <input type="text" class="form-control filterWidth inputColor" placeholder="Filter Name">
                        <div class="input-group-append">
                            <span class="input-group-text filterColor"><i class="fas fa-filter"></i></span>
                        </div>
                    </div>
                </dt>

                <dt class="col addBtn">
                    <button class="btn btnColor">Add Student</button>
                </dt>
            </dl>
        </div>
    </div>
</div>

<div>
    <div class="card vSpace border-0 labelColor">
        <div class="card-body py-0">
            <dl class="row my-0">
                <dt class="col-3">Name</dt>
                <dt class="col-3">School Year</dt>
                <dt class="col-3">Status</dt>
                <dt class="col-3">Email</dt>
            </dl>
        </div>
    </div>
</div>

<div *ngFor="let s of students">
    <div class="card vSpace infoColor">
        <div class="card-body py-0">
            <dl class="row my-0">
                <dd class="col-3">{{s.fullName}}</dd>
                <dd class="col-3">{{s.schoolYear}}</dd>
                <dd class="col-3">{{s.status}}</dd>
                <dd class="col-3">{{s.email}}</dd>
            </dl>
        </div>
    </div>
</div> -->

<div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Name">
    </mat-form-field>

    <mat-form-field>
        <mat-label>All Students</mat-label>
        <mat-select>
            <mat-option *ngFor="let s of status" [value]="s.value" (click)="statusFilter(s.value)">
                {{s.viewValue}}
            </mat-option>
        </mat-select>
      </mat-form-field>
  </div>
  
  <div class="example-container mat-elevation-z8">
  
    <mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="progress">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Progress </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.progress}}% </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>
  
      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.status}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>